# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Node
node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea
.vscode
*.swp
*.swo
*~

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
web_app/node_modules
web_app/dist
*.egg-info
dist
build
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Databases
*.sqlite3
