<!-- web_app/templates/game.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ game_type.capitalize() }} Game</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <script>
        const GAME_TYPE = "{{ game_type }}";
        const GAME_ID = "{{ game_id }}";
    </script>
</head>
<body>
    <h1>{{ game_type.capitalize() }}</h1>
    <div id="game"></div>
    <h2 id="status"></h2>
    <script src="{{ url_for('static', path='game_common.js') }}"></script>
    <script src="{{ url_for('static', path=game_type + '.js') }}"></script>
</body>
</html>
