<!DOCTYPE html>
<html>
<head>
    <title>Game Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
</head>
<body>
    <h1>Welcome to the Game Portal</h1>
    <div class="button-container">
        <div class="game-section">
            <h2>Connect Four</h2>
            <div class="game-buttons">
                <button class="connect4" onclick="startGame('connect4', false)">Play Connect Four</button>
                <button class="connect4" onclick="startGame('connect4', true)">Play Connect Four vs AI</button>
            </div>
        </div>
        <div class="game-section">
            <h2>Othello</h2>
            <div class="game-buttons">
                <button class="othello" onclick="startGame('othello', false)">Play Othello</button>
                <button class="othello" onclick="startGame('othello', true)">Play Othello vs AI</button>
            </div>
        </div>
    </div>
    <div id="game-area"></div>

    <script src="{{ url_for('static', path='index.js') }}"></script>
</body>
</html>
